body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #009999, #e0f5f5);
}

.login-container {
    text-align: center;
    background-color: #009999;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 32px;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
}

.logo span {
    display: block;
}

input[type="text"],
input[type="password"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
    border: none;
    outline: none;
    text-align: center;
}

.login-button,
.signup-button {
    width: 30%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-button {
    background-color: #00cccc;
}

.signup-button {
    background-color: #ffffff;
    color: #009999;
}